<div class="ui segment">

  <table class="ui celled table">
    <thead>
      <tr>
        <td>{{#link-to "developers"}}Developers{{/link-to}}</td>
        <td>{{#link-to "projects"}}Projects{{/link-to}}</td>
      </tr>
    </thead>
  </table>
  {{outlet}}

</div>