
{{#link-to "story.new" model.id class="ui teal button"}}Ajouter une story{{/link-to}}

<table class="ui bottom attached table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Descriptif</th>
    <th>Owner</th>
    <th></th>
  </tr>
  </thead>
  <tbody>

  {{#each model as |story|}}
    <tr>
      <td>{{story.code}}</td>
      <td>{{story.descriptif}}</td>
      <td>{{story.owner.identity}}</td>
      <td>
        {{#link-to "story.edit" project class="ui basic circular icon button"}}
          <i class="ui edit grey icon"></i>
        {{/link-to}}

      </td>
    </tr>
  {{/each}}

  </tbody>
</table>

{{outlet}}